global:
  scrape_interval: 10s

scrape_configs:
  - job_name: 'Prometheus'
    static_configs:
      - targets: 
        - prometheus:9090

  - job_name: 'node-exporter'
    static_configs:
      - targets:
        - node-exporter:9100