.navigation {
  background-color: #71C9CD;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  min-height: 30px;
  height: 100px;
  margin: 0;
}
.navigation li {
  color: #EDEEF0;
  margin-right: 30px;
  font-size: 20px;
}
